
<div style="background: linear-gradient(to right, #ff9966, #ff5e62); padding: 20px; border-radius: 5px;">
  <h1>Universal Dao</h1>
  <nav>
    <ul>
      <li><a href="/home">About</a></li>
      <li><a href="/governance">Universal Token - DAO</a></li>
      <li><a href="/bridge">Ethereum to Lukso Bridge</a></li>
      <li><a href="/stablecoin">Universal Dollar</a></li>
      <!-- <li><a href="/contact">Contact</a></li> -->
    </ul>
  </nav>
</div>




<!-- <button (click)="openMetaMaskWallet()">Open Metamask</button>
<button (click)="connectLuksoWallet()">Open Lukso</button>

<div>
    <button style="background: linear-gradient(to right, #ff9966, #ff5e62); color: white; padding: 10px 20px; border: none; border-radius: 5px; margin-right: 10px;" (click)="signMessage()">Button 1</button>
    <button style="background: linear-gradient(to right, #4facfe, #00f2fe); color: white; padding: 10px 20px; border: none; border-radius: 5px;"(click)="signMessageLukso()">Button 2</button>
</div>


<form [formGroup]="userForm">
  <div style="background: linear-gradient(to right, #ff9966, #ff5e62); padding: 20px; border-radius: 5px;">
    <label for="destination">send 0.01 testnet LYX to:</label>
    <input type="text" id="destination" name="destination" style="margin-top: 10px; padding: 5px; border-radius: 3px;" formControlName="name">

    
    <button style="background: linear-gradient(to right, #4facfe, #00f2fe); color: white; padding: 10px 20px; border: none; border-radius: 5px; margin-top: 10px;" (click)="saveUser()">Send</button>
  </div>
</form> -->

<!-- <form [formGroup]="userForm">
    <label>
      Name:
      <input type="text" formControlName="name">
    </label>
    <br>
    <label>
      Email:
      <input type="email" formControlName="email">
    </label>
    <br>
    <button (click)="saveUser()">Save</button>
</form> -->

<!-- add router-outlet to display the content of the current route -->
<router-outlet />
